<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SAML Jackson Demo App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%- include ("partials/header.ejs") %>

      <!-- Begin page content -->
      <main role="main" class="container col-md-6">
        <h5>Profile</h5>

        <br><br>

        <table class="table">
          <tr>
            <td>Id</td>
            <td><%= profile.id %></td>
          </tr>

          <tr>
            <td>Email</td>
            <td><%= profile.email %></td>
          </tr>

          <tr>
            <td>First Name</td>
            <td><%= profile.firstName %></td>
          </tr>

          <tr>
            <td>Last Name</td>
            <td><%= profile.lastName %></td>
          </tr>
        </table>
        <% if ( typeof(id_token_claims) !== "undefined" ) { %>
        <h6>ID Token claims</h6>
        <pre><%- JSON.stringify(id_token_claims,null,2) %></pre>
        <% } %>
      </main>
  </body>
</html>
