<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>SAML Jackson + Hasura GraphQL Example</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <%- include partials/header.ejs %>

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <main>
        <div class="grid grid-cols-2 divide-x gap-4">
          <div>
            <%if (!params.idpMetadata) { %>
              <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
                <span class="font-medium">Alert!</span> Please add your SAML IDP metadata before you can use this example.
              </div>
            <% } %>

            <form action="/configure" method="POST">
              <div class="mb-6">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Tenant</label>
                <input type="text" name="tenant" id="tenant" value="boxyhq.com" disabled class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              <div class="mb-6">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Product</label>
                <input type="text" name="product" id="product" value="jackson" disabled class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              <div class="mb-6">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">SAML Metadata</label>
                <textarea name="metadata" id="metadata" required rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
              </div>
              <div class="mb-6">
                <button type="submit" class="px-4 py-2 border border-transparent rounded text-sm font-medium text-white bg-indigo-600 focus:outline-none">Save Changes</button>
              </div>
            </form>
          </div>
          <div class="pl-6">
            <div class="mb-6">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">SAML Config</label>
              <p><pre class="text-sm"><%- JSON.stringify(params.idpMetadata, null, 2) %></pre></p>
            </div>
            <div class="mb-6">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">ACS URL</label>
              <p><%= params.acsUrl %></p>
            </div>
            <div class="mb-6">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">SAML Audience</label>
              <p><%= params.samlAudience %></p>
            </div>
            <div class="mb-6">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Redirect URL</label>
              <p><%= params.redirectUrl %></p>
            </div>
            <div class="mb-6">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default Redirect URL</label>
              <p><%= params.defaultRedirectUrl %></p>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
